
DemoCRUDWithCleanArchitecture/.vs/DemoCRUDWithCleanArchitecture/FileContentIndex/1f05d9f0-9310-4ca6-a78c-094aaee5d121.vsidx

DemoCRUDWithCleanArchitecture/.vs/DemoCRUDWithCleanArchitecture/FileContentIndex/b9368678-0ffd-40f9-9d77-00945386f658.vsidx

DemoCRUDWithCleanArchitecture/.vs/DemoCRUDWithCleanArchitecture/FileContentIndex/28cfbd32-404b-4cdf-acc2-c31c59d053be.vsidx

DemoCRUDWithCleanArchitecture/.vs/DemoCRUDWithCleanArchitecture/FileContentIndex/389006bd-ad12-4860-acbf-571e9c775eca.vsidx

DemoCRUDWithCleanArchitecture/.vs/DemoCRUDWithCleanArchitecture/FileContentIndex/559919fc-8d83-49ed-9f03-1780e45bd9fe.vsidx
